<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URl Shortner (kinda)</title>
    <script src="https://kit.fontawesome.com/3a9c9e1d26.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

    <section id="urlBox">
        <h1>
            URL
            <span>Shortner</span>
        </h1>

        <% if(!shortUrl){ %>
            <p>
                Enter a url to get a shorter version of it
            </p>
        <% } %>
        
        <form id="urlForm" action="/api/url/shorten" method="POST">
            <input id='urlInput' type="text" placeholder="Enter a URL" name="longUrl">
            <input type="text" id='hidden'>
            <button><i class="fas fa-arrow-right"></i></button>
        </form>
        <% if(shortUrl){ %>
            <a href="<%= shortUrl %>" id="shortUrl"><%= shortUrl %></a>
            <p>
                I know that the domain name is still a tad long but this project was made for learning purposes! :)
            </p>
            <% } %>
        
    </section>

    <script src="/scripts/index.js"></script>
</body>
</html>